// COLORS
$color-primary: #0077B6;
$color-blue: #66add3;
$color-blue-light: #b3d6e9;
$color-blue-dark: #1a85bd;
$color-blue-dark-2: #003c5b;
$color-blue-dark-3: #00476d;
$color-green: #0e9b78;
$color-green-light: #14ddac;
$color-green-dark: #085845;
$color-green-dark-2: #064234;
$color-green-dark-3: #021611;
$color-red: #B31200;
$color-red-light: #c24133;
$color-red-light-2: #f0d0cc;
$color-red-dark: #8f0e00;
$color-red-dark-2: #6b0b00;
$color-red-dark-3: #240400;
$color-white: #fff;
$color-white-background: #F5F8FA;
$color-black: #05021C;
$color-grey: #555;
$color-grey-light: #eee;
$color-grey-light-2: #ddd;
$color-yellow: #FFD260;
$color-yellow-dark: #cca84d;
$color-yellow-dark-2: #997e3a;
$color-yellow-light: #ffe4a0;
$color-brown: #907051;
$color-brown-light: #c9b2a0;
$color-brown-light-2: #e4d9cf;
$color-brown-light-3: #f6f2ef;
$color-brown-dark: #735943;

// STATUS COLORS
$status-colors: (
        "bereit": $color-green $color-green-light $color-white,
        "erledigt": $color-blue $color-blue-light $color-black,
        "offen": $color-yellow-dark $color-yellow-light $color-black
);

// FONT
$default-font-size: 1.8rem;

// TABLE COLUMNS
$column-demand-datum: 9rem;
$column-demand-datum-small: 7rem;
$column-demand-zeit: 6rem;
$column-demand-zeit-small: 4rem;
$column-demand-einsatz: 20rem;
$column-demand-einsatz-small: min-content;
$column-demand-auswahl-rollen: 12rem;

// HEADER
$header-height: 7rem;
