.error {
    text-align: center;
    margin: 100px 0 200px;

    h1 {
        font-size: 50px;

        svg {
            height: 3.6rem;
            width: 3.6rem;
        }
    }

    .description,
    .link {
        font-size: 2rem;
    }
}