@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./AvailabilityItem.module";

.activity {
  @include card-overview;
}

.offen {
  @include border-status-color("offen");
}
.bereit {
  @include border-status-color("bereit");
}
.erledigt {
  @include border-status-color("erledigt");
}

.rollen {
  ul {
    list-style: none;
  }
}

@media (max-width: 600px) {
  .activity {
    flex-direction: column;
    text-align: center;
  }
}