@import "./abstracts/variables";

/** Form */
.inputInvalid {
  border: $color-red 1px solid !important;
}

/** navigation by steps */
.navigationControls {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  padding-top: 4.6rem;

  .noMargin {
    margin: 0 !important;

    &:disabled {
      opacity: 40%;
      cursor: not-allowed;
    }
  }
}

.infos {
  display: flex;
  column-gap: 2rem;
  padding: 3rem 0 1rem;

  p {
    min-width: 17rem;
  }

  strong {
    font-weight: 700;
  }
}