@import "./abstracts/variables";
@import "./abstracts/mixins";

/** Form */
.inputInvalid {
  border: $color-red 1px solid !important;
}
.range {
  display: grid;
  grid-column-gap: 2rem;

  div {
    min-width: 0;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.8rem;
  }

  .inputField {
    display: flex;
    align-items: center;
  }

  input {
    @include input-field;
    width: 100%;
  }

  input:disabled {
    color: $color-brown;
    border-color: $color-brown-light;

    &::placeholder {
      color: transparent;
    }
  }
}

/** navigation by steps */
.navigationControls {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  padding-top: 4.6rem;

  .noMargin {
    margin: 0 !important;

    &:disabled {
      opacity: 40%;
      cursor: not-allowed;
    }
  }
}

.infos {
  display: flex;
  column-gap: 2rem;
  padding: 3rem 0 1rem;

  p {
    min-width: 17rem;
  }

  strong {
    font-weight: 700;
  }
}

.list {
  list-style: none;

  li:first-of-type {
    margin-top: 3rem;
  }
}

.btnGroup {
  display: flex;

  button {
    margin-left: 1rem;

    &.btnIconFitContent {
      display: none;
    }

    &.btnIconSecondary {
      background-color: $color-brown;
    }
  }

  + ul.listOverflow > li {
    min-width: 90rem;
  }
}

/**********************************/
/* BELOW 704px (Tablet small) */
/**********************************/
@include respond(smaller-tab) {
  .infos {
    flex-direction: column;
    padding-top: 1rem;

    p {
      margin: 0;
    }
  }

  .btnGroup {
    button {
      &.btnIconFitContent {
        display: flex;
      }
    }
  }
}

/**********************************/
/* BELOW 544px (Phone) */
/**********************************/
@include respond(phone) {
  .btnGroup {
    flex-direction: column;

    button {
      margin-top: 1rem;
      margin-left: 0;
    }
  }

  .navigationControls {
    .btnGroup {
      flex-direction: row;

      button {
        margin-top: 0;
        margin-left: 1rem;
      }
    }
  }
}

/**********************************/
/* BELOW 400px (Phone) */
/**********************************/
@include respond(phone-mini) {
  .navigationControls {
    flex-direction: column;

    .btnGroup {
      justify-content: space-between;
      margin-bottom: 1rem;

      button {
        margin: 0;
      }
    }

    a {
      text-align: center;
    }
  }
}