@import "./abstracts/variables";

/** Form */
.form {
  font-size: 1.8rem;
}

.inputInvalid {
  border: $color-red 1px solid !important;
}

/** navigation by steps */
.navigationControls {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  padding-top: 4.6rem;

  .noMargin {
    margin: 0 !important;

    &:disabled {
      opacity: 40%;
      cursor: not-allowed;
    }
  }
}

/** navigation controls */
.reference {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.markerBlue,
.markerGray {
  border: 1px solid $color-grey;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
}

.markerBlue {
  background-color: $color-blue-dark-3;
}

.markerGray {
  background-color: $color-grey-light-2;
}

.infos {
  display: inline-block;
  line-height: 1.4;

  strong {
    font-weight: 700;
  }
}