@import "./abstracts/mixins";

.infos {
  @include step-infos;
}

/**********************************/
/* BELOW 704px (Tablet small) */
/**********************************/
@include respond(smaller-tab) {
  .infos {
    flex-direction: column;
    padding-top: 1rem;

    p {
      margin: 0;
    }
  }
}
