@import "./abstracts/mixins";

.auth {
  background-color: $color-brown-light-3;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1rem;
  border: 1px solid $color-brown-light;
  padding: 3rem;
  max-width: 70rem;

  svg {
    margin-right: 1rem;
  }

  &Form {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }

  input {
    @include input-field;
    width: 100%;
  }

  span {
    position: absolute;
    right: 1.8rem;
    color: $color-red;
  }

  .btn {
    margin-top: 1rem;
    width: 100%;
    padding: 1.2rem 2.4rem;
  }

  .hint {
    margin-top: 2.4rem;
    font-size: 1.6rem;
  }
}
