@import "./abstracts/mixins";

.auth {
  border: 1px solid;
  border-radius: 8px;
  padding: 3rem;
  min-width: 50rem;

  svg {
    margin-right: 1rem;
  }

  &Form {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }

  input {
    @include input-field;
    width: 100%;
  }

  span {
    position: absolute;
    right: 1.8rem;
    color: $color-red;
  }

  .btn {
    margin-top: 1rem;
    width: 100%;
    padding: 1.2rem 2.4rem;
  }

  .hint {
    margin-top: 2.4rem;
    font-size: 1.6rem;
  }
}
