@import "./abstracts/variables";

.availability {
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-size: 1.8rem;
    margin: 20px 0;
    padding:13px;
    border-radius: 0.5rem;
    background-color: $color-white;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.img {
    flex: 1;
    margin: 10px;
}

.info {
    flex: 2;

    &Top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: baseline;

        strong {
            padding-right: 1rem;
        }
    }

    .details {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: baseline;
    }
}

@media (max-width: 600px) {
    .availability {
        flex-direction: column;
        text-align: center;
    }

    .info {
        margin-bottom: 20px;
    }
}