@import "./abstracts/variables";
@import "./abstracts/mixins";

.availability {
    @include card-overview;
}

.einsatztyp {
    font-weight: 500;
    font-size: 2.2rem;
}

.info {
    flex: 2;

    &Top,
    .details {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: baseline;

        div:last-of-type {
            padding-left: 1rem;
        }
    }

    &Top {
        strong {
            padding-right: 1rem;
        }
    }
}

/**********************************/
/* BELOW 704px (Tablet small) */
/**********************************/
@include respond(smaller-tab) {
    .info {
        &Top,
        .details {
            display: grid;
            grid-template-columns: minmax(22rem, auto) 1fr;
        }
    }
}

/**********************************/
/* BELOW 544px (Phone) */
/**********************************/
@include respond(phone) {
    .availability {
        flex-direction: column;
        align-items: flex-start;

        .mitglied,
        .rollen {
            display: none;
        }
    }
}