@import "./abstracts/variables";

.infos {
  display: flex;
  column-gap: 2rem;
  padding: 3rem 0 1rem;

  p {
    min-width: 17rem;
  }

  strong {
    font-weight: 700;
  }
}

.confirmation {
  input {
    background-color: $color-white;
    border: thin solid $color-blue-dark-3;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  }
}