@import "./abstracts/mixins";

.infos {
  @include step-infos;
}

.confirmation {
  display: flex;
  flex-direction: column;
  row-gap: 2.2rem;

  input {
    @include input-field;
  }
}

/**********************************/
/* BELOW 704px (Tablet small) */
/**********************************/
@include respond(smaller-tab) {
  .infos {
    flex-direction: column;
    padding-top: 1rem;

    p {
      margin: 0;
    }
  }
}