@import "./abstracts/mixins";

.infos {
  display: flex;
  column-gap: 2rem;
  padding: 3rem 0 1rem;

  p {
    min-width: 17rem;
  }

  strong {
    font-weight: 700;
  }
}

.confirmation {
  display: flex;
  flex-direction: column;
  row-gap: 2.2rem;

  input {
    @include input-field;
  }
}

/**********************************/
/* BELOW 704px (Tablet small) */
/**********************************/
@include respond(smaller-tab) {
  .infos {
    flex-direction: column;
    padding-top: 1rem;

    p {
      margin: 0;
    }
  }
}