.availability {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px #ddd solid;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.6rem;
  }

  .availability h4 {
    margin-bottom: 1rem;
    flex: 2;
  }
  
  .edit,
  .delete {
    margin: 1rem;
  }
  
  .delete {
    color: red;
  }