@import "./abstracts/variables";

.datenschutz {
  min-height: min-content;

  &TextBox {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    padding: 2.4rem 0 4.8rem;
    font-size: 1.8rem;
  }

  &Kapitel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    line-height: 3rem;

    &Content {
      ul {
        padding-top: 2.4rem;

        li {
          padding: 1rem 0;
          word-break: break-all;
        }
      }
    }
  }

  &Title {
    font-size: 2rem;
    font-weight: 500;
    color: $color-black;

    &:not(:has(+ .datenschutzSubtitle)) {
      padding-bottom: 2rem;
    }
  }

  &Subtitle {
    font-weight: 500;
    padding: 1.4rem 0 1rem;
  }
}