.groupInfo {
  padding-bottom: 1rem;
}

.demandHeader {
  display: flex;
  border-bottom: solid 1px #ddd;
  margin-bottom: 0.8rem;
}

.demandDatum {
  width: 6rem;
}

.demandZeit {
  width: 4rem;
}

.demandEinsatz {
  min-width: 14rem;
}

.demandAuswahlRollen {
  text-align: center;
  min-width: 6.5rem;

}