@import "./abstracts/variables";
@import "./abstracts/mixins";

.group {
  font-size: 1.8rem;

  .groupInfo {
    padding-bottom: 1rem;
  }

  .containerTable {
    display: flex;

    .btnIcon {
      display: none;
    }
  }

  .demandHeader {
    display: flex;
    border-bottom: solid 1px #ddd;
    margin-bottom: 0.8rem;

    &Small {
      display: none;
    }
  }

  .demandDatum {
    width: $column-demand-datum;
  }

  .demandZeit {
    width: $column-demand-zeit;
  }

  .demandEinsatz {
    min-width: $column-demand-einsatz;
  }

  .demandAuswahlRollen {
    text-align: center;
    min-width: $column-demand-auswahl-rollen;
  }
}

/**********************************/
/* BELOW 1200px (Tablet landscape) */
/**********************************/
@include respond(land-tab) {
  .group {
    .containerTable {
      .btnIcon {
        display: flex;
        align-self: stretch;
        justify-content: center;
        padding: 0;
        background-color: transparent;
        border: 1px solid $color-brown;

        svg {
          align-self: center;
          stroke: $color-brown;
        }
      }
    }

    .demandHeader {
      display: none;

      &Small {
        display: flex;
        border-bottom: solid 1px #ddd;
        margin-bottom: 0.8rem;
      }
    }
  }
}