@import "./abstracts/variables";
@import "./abstracts/mixins";

.demandRow {
  display: flex;

  &Small {
    display: none;
  }

  &SmallVertically {
    display: none;
  }
}

/*
 * Select all but the first .demandRowSmall child of tbody,
 * and remove the margin-top from the previous rule.
 */
tbody {
  > .demandRowSmall ~ .demandRowSmall {
    margin-top: 2rem;
  }
}

.demandDatum {
  width: $column-demand-datum;
}

.demandZeit {
  width: $column-demand-zeit;
}

.demandEinsatz {
  min-width: $column-demand-einsatz;
}

.auswahlCell {
  min-width: $column-demand-auswahl-rollen;
  text-align: center;

  .auswahlBox {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
  }
}

/**********************************/
/* BELOW 1200px (Tablet landscape) */
/**********************************/
@include respond(land-tab) {
  .demandRow {
    display: none;

    &Small {
      display: flex;
    }
  }
}

/**********************************/
/* BELOW 704px (Tablet small) */
/**********************************/
@include respond(smaller-tab) {
  .demandRow {
    &SmallVertically {
      display: flex;
      align-items: center;

      td:first-of-type {
        padding-left: 2rem;
        width: 15rem;
        font-weight: 500;
      }

      td {
        &.auswahlCell {
          padding-left: 2rem;
          min-width: fit-content;
        }
      }
    }
  }

  .rolesHorizontally {
    display: none;
  }
}


/**********************************/
/* BELOW 544px (Phone) */
/**********************************/
@include respond(phone) {
  .demandRow {
    &SmallVertically {
      padding-top: 0.5rem;
    }
  }
  .demandDatum {
    width: $column-demand-datum-small;
  }

  .demandZeit {
    width: $column-demand-zeit-small;
  }

  .demandEinsatz {
    min-width: $column-demand-einsatz-small;
  }
}