.demandRow {
  display: flex;
}

.demandDatum {
  width: 6rem;
}

.demandZeit {
  width: 4rem;
}

.demandEinsatz {
  min-width: 14rem;
}

.auswahlCell {
  min-width: 6.5rem;
  text-align: center;

  .auswahlBox {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
  }
}