@import "./abstracts/variables";

.group {
  font-size: 1.8rem;

  .groupInfo {
    padding-bottom: 1rem;
  }

  .demandHeader {
    display: flex;
    border-bottom: solid 1px #ddd;
    margin-bottom: 0.8rem;
  }

  .demandDatum {
    width: $column-demand-datum;
  }

  .demandZeit {
    width: $column-demand-zeit;
  }

  .demandEinsatz {
    min-width: $column-demand-einsatz;
  }

  .demandAuswahlRollen {
    text-align: center;
    min-width: $column-demand-auswahl-rollen;

  }
}