@import "./abstracts/mixins";

.list {
    list-style: none;

    li:first-of-type {
        margin-top: 3rem;
    }
}

.btnGroup {
    display: flex;

    button {
        margin-left: 1rem;

        &.btnIconSecondary {
            background-color: $color-brown;
        }
    }
}

/**********************************/
/* BELOW 544px (Phone) */
/**********************************/
@include respond(phone) {
    .btnGroup {
        flex-direction: column;

        button {
            margin-top: 1rem;
            margin-left: 0;
        }
    }
}