@import "./abstracts/variables";
@import "./abstracts/mixins";

.sectionEinsatzplanung {
  @include section-padding;
}

.einsatzplanung {
  @include tile;
  max-width: 38rem;

  &Content {
    @include tile-content;
  }

  &Title {
    @include tile-title;
    align-self: center;
    margin-bottom: 2.4rem;
  }

  &Description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }
}