@import "./abstracts/mixins";

.filter {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.8rem;
  row-gap: 1.2rem;
  margin-top: 3.2rem;

  select {
    padding-right: 3.2rem;
  }

  input {
    @include input-field;
    width: 100%;
  }
}

.btn {
  padding: 1.2rem 2.4rem;
}

.btnGroup {
  align-self: flex-end;

  button {
    font: inherit;
    padding: 1rem 1.2rem;
  }

  button:not(:last-of-type) {
    margin-right: 1rem;
  }
}