@import "./abstracts/variables";
@import "./abstracts/mixins";

/**********************************/
/* FOOTER */
/**********************************/

.footer {
  position: relative;
  z-index: 20;
  padding: 9.6rem 0;
  border-top: 1px solid $color-brown;
  background-color: $color-brown-light;
  height: 100%;

  nav {
    flex-direction: column;
  }
}

.logoCol {
  display: flex;
  flex-direction: column;
  row-gap: 2.2rem;
  max-width: 30rem;

  .footerNav {
    flex-direction: row;
  }
}

.footerLogo {
  display: flex;
  align-items: center;
  color: $color-red;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;

  &:hover, &:active {
    color: $color-red-light;
  }

  svg {
    height: 3.6rem;
    width: 3.6rem;
    margin-right: 1rem;
  }
}

.copyright,
.contact {
  font-size: 1.4rem;
  line-height: 1.6;
  color: $color-black;
}

.contact {
  display: grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 1.2rem;

  a:link, a:visited {
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-black;
    transition: all 0.3s;
  }

  a:hover,
  a:active {
    font-weight: 600;
    color: $color-brown-dark;
  }
}

.footerHeading {
  font-size: 1.8rem;
  font-weight: 500;
  color: $color-black;
  margin-bottom: 4rem;
  cursor: default;
}

.footerNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footerLink:link,
.footerLink:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: $color-black;
  transition: all 0.3s;
}

.footerLink:hover,
.footerLink:active {
  font-weight: 600;
  color: $color-brown-dark;
}

/**********************************/
/* BELOW 704px (Smaller Tablets) */
/**********************************/
@include respond(smaller-tab) {
  // FOOTER
  .footer {
    padding: 3.2rem 0;
  }

  .copyright {
    margin: 0;
  }

  .footerHeading {
    margin-bottom: 1.2rem;
  }
}
