@import "./abstracts/variables";
@import "Form.module";

.list {
  list-style: none;
  margin-bottom: 3.6rem;

  li {
    border: 1px solid $color-brown;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: $color-brown-light-3;
  }

  table {
    padding: 0 0.6rem;

    thead {
      tr {
        font-weight: 500;
      }
    }
  }
}

.btnGroup {
  display: flex;
  column-gap: 1rem;
}

/**********************************/
/* BELOW 544px (Phone) */
/**********************************/
@include respond(phone) {
  .list {
    li {
      padding: 2rem 0.5rem
    }
  }
}

/**********************************/
/* BELOW 400px (Phone mini) */
/**********************************/
@include respond(phone-mini) {
  .btnGroup {
    flex-direction: column-reverse;
    row-gap: 1rem;

    a {
      text-align: center;
    }
  }
}