@import "Form.module";

.list {
  list-style: none;
  margin-bottom: 3.6rem;

  li:not(:first-of-type) {
    padding-top: 2rem;
  }

  table {
    width: 100%;
    padding: 0 0.6rem;

    thead {
      tr {
        font-weight: 500;
      }
    }
  }
}