@import "./abstracts/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 7rem;
  padding: 0 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/**********************************/
/* NAVIGATION */
/**********************************/

.mainNavList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;

  li:last-of-type {
    margin-right: 2.4rem;
  }
}

.mainNavLink {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: #03045E;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: $color-primary;
  }

  &.navCta {
    &:link,
    &:visited {
      padding: 1.2rem 2.4rem;
      border-radius: 9px;
      color: $color-white;
      background-color: $color-primary;
    }

    &:hover,
    &:active {
      background-color: #006ba4;
    }
  }
}

.logo {
  color: red;
  font-size: 2rem;
  text-transform: uppercase;
}

.logo a {
  color: red;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 2rem 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 2rem 0;
  }
}
