@import "./abstracts/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-brown-light;
  color: #333;
  height: 7rem;
  padding: 0 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;

  nav {
    display: flex;
    height: 100%;
  }
}

/**********************************/
/* NAVIGATION */
/**********************************/

.mainNavList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;

  li:not(:last-of-type) {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;

    &:hover {
      background-color: $color-brown-light-2;

      .mainNavLink {
        color: $color-red;
      }

      .active {
        border-color: $color-red-dark;
      }
    }
  }

  li:last-of-type {
    margin: 0 2.4rem;
  }
}

.mainNavLink {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-black;
    font-weight: 500;
    font-size: 1.8rem;
  }

  &:hover,
  &:active {
    color: $color-red;
    background-color: $color-brown-light-2;
  }

  &.navCta {
    &:link,
    &:visited {
      padding: 1.2rem 2.4rem;
      border-radius: 9px;
      color: $color-white;
      background-color: $color-primary;
    }

    &:hover,
    &:active {
      background-color: #006ba4;
    }
  }
}

.active {
  border-bottom: 5px solid $color-red;

  .mainNavLink {
    margin-bottom: -5px;
  }
}

.nonActive {
  border: none;
}

.logo {
  color: $color-red;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}

.logo a {
  color: $color-red;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 2rem 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 2rem 0;
  }
}
