@import "./abstracts/variables";
@import "./abstracts/mixins";

/**********************************/
/* HERO SECTION */
/**********************************/

.sectionHero {
  background-color: rgba($color-brown-dark, 0.7);
  padding: 4.8rem 0 9.6rem 0;
  position: relative;
}

.hero {
  max-width: 130rem;
  height: 50vh;
  margin: 0 auto;
  padding: 0 3.2rem;
  color: $color-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;

  &Img {
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    scale: 1.1;
  }

  &Description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;

    &:first-of-type {
      margin-bottom: 0;
    }
  }
}

/**********************************/
/* BELOW 944px (Tablets) */
/**********************************/
@include respond(tab) {
  .sectionHero {
    position: initial;
    padding-bottom: 0;
  }

  .hero {
    grid-template-columns: 1fr;
    height: unset;
    gap: 0;

    &ImgBox {
      display: flex;
      justify-content: center;
      padding-top: 4.8rem;
    }

    &Img {
      position: initial;
      bottom: 0;
      scale: 1;
    }
  }
}

/**********************************/
/* BELOW 544px (Phone) */
/**********************************/
@include respond(phone) {
  .hero {
    &ImgBox {
      justify-content: flex-start;
    }

    &Img {
      height: 100%;
      width: 100%;
    }
  }
}