@import "./abstracts/variables";
@import "./abstracts/mixins";

.sectionDashboard {
  @include section-padding;
}

.card {
  @include tile;
  width: 28rem;

  a {
    height: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  &Content {
    @include tile-content;

    svg {
      height: 3.6rem;
      width: 3.6rem;
      margin-bottom: 1.8rem;
    }
  }

  &Title {
    @include tile-title;
    margin: auto 0;
    text-align: center;

    span {
      font-weight: 700;
    }
  }
}

/**********************************/
/* BELOW 704px (Tablet small) */
/**********************************/
@include respond(smaller-tab) {
  .sectionDashboard {
    padding: 4.8rem 0;
  }
}