@import "./abstracts/variables";

.inputInvalid {
  border: none !important;
  /*Add border inside*/
  box-shadow: inset 0 0 0 2px $color-red;
}

.wrapper:has(.inputInvalid) input {
  &:focus-visible {
    border: none !important;
    outline: 1px solid $color-red;
  }

  &::placeholder {
    color: $color-red-light;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.8rem;
  }

  .inputField {
    display: flex;
    align-items: center;
  }

  input:disabled {
    color: $color-brown;
    border-color: $color-brown-light;

    &::placeholder {
      color: transparent;
    }
  }
}