@import "./abstracts/mixins";

.mainContent {
  margin: 6rem auto;
  max-width: 128rem;
  padding: 0 3rem;
  order: 2;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container {
  display: flex;
  min-height: 100vh;
}

/**********************************/
/* BELOW 1200px (Tablet landscape) */
/**********************************/
@include respond(land-tab) {
  .mainContent {
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    }
  }
}
