@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./AvailabilityItem.module";

.order {
  @include card-overview;
}

.link {
  display: flex;
  column-gap: 0.5rem;

  svg {
    margin: 0;
  }
}

.offen-bottom {
  @include border-bottom-status-color("offen");
}

.offen {
  @include border-left-status-color("offen");
}
.bereit {
  @include border-left-status-color("bereit");
}
.erledigt {
  @include border-left-status-color("erledigt");
}

@media (max-width: 600px) {
  .order {
    flex-direction: column;
    text-align: center;
  }
}