@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./AvailabilityItem.module";

.order {
  @include card-overview;
  padding: 0;
  flex-direction: column;
  align-items: initial;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.2rem 1.2rem 2rem;
  }
}

.link {
  display: flex;
  column-gap: 0.5rem;

  a:first-of-type {
    margin-left: 1.4rem;
  }

  svg {
    margin: 0;
  }
}

.offen-bottom {
  @include border-bottom-status-color("offen");
}

.offen {
  @include border-left-status-color("offen");
}

.bereit {
  @include border-left-status-color("bereit");
}

.erledigt {
  @include border-left-status-color("erledigt");
}


/**********************************/
/* BELOW 704px (Tablet small) */
/**********************************/
@include respond(smaller-tab) {
  .order {
    .main {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .info {
        width: 100%;

        .infoTop,
        .details {
          display: grid;
          grid-template-columns: minmax(22rem, auto) 1fr;

          > div {
            padding-left: 0;
          }
        }
      }

      .link {
        padding-top: 1.2rem;
      }
    }
  }
}

/**********************************/
/* BELOW 544px (Phone) */
/**********************************/
@include respond(phone) {
  .order {
    flex-direction: column;
    align-items: flex-start;

    .main {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .info {
        width: 100%;

        .infoTop,
        .details {
          display: grid;
          grid-template-columns: 1fr;
        }
      }

      .link {
        display: flex;
        justify-content: stretch;
        width: 100%;
        margin-left: 0;
        padding-top: 1.2rem;

        a {
          width: 100%;
          text-align: center;
          margin-left: 0;
        }
      }
    }
  }
}