@import "./abstracts/variables";

.inputInvalid {
  border: $color-red 1px solid !important;
}

.wrapper {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.8rem;
  }
}

.customSelect {
  display: inline-block;
  position: relative;
  top: 50%;
  border-radius: 5px;
  box-shadow: 0 0 1em rgba(white,0.2), inset 0 0 1px rgba(white,0.8);
  /* Styling the select background */
  background-color: $color-white-background;
  overflow: hidden;

  select
  {
    width: 100%;
    margin: 0;
    padding: 1.2rem 1.8rem;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: transparent;
    /* Styling the select text color */
    color: $color-brown-dark;

    /* removes the fucking native down arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;

    &::-ms-expand
    {
      display: none;
    }

  }

  &:before,
  &:after
  {
    position: absolute;
    top: 50%;
    right: 1em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    pointer-events: none;
  }

  &:before
  {
    transform: translateY(-125%);
    /* Styling the down arrow */
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-bottom: .375em solid $color-brown-dark;
  }

  &:after
  {
    /* Styling the down arrow */
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .375em solid $color-brown-dark;
  }

}
