@import "./abstracts/variables";

.inputInvalid {
  border: $color-red 1px solid !important;
}

.customSelect {
  select {
    /* styling */
    background-color: $color-white;
    border: thin solid $color-blue-dark-3;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  /* arrows */
  select {
    background-image:
            linear-gradient(45deg, transparent 50%, $color-blue-dark-2 50%),
            linear-gradient(135deg, $color-blue-dark-2 50%, transparent 50%),
            linear-gradient(to right, $color-blue-light, $color-blue-light);
    background-position:
            calc(100% - 2.2rem) calc(1em + 2px),
            calc(100% - 1.2rem) calc(1em + 2px),
            100% 0;
    background-size:
            1rem 1rem,
            1rem 1rem,
            2.5em 2.5em;
    background-repeat: no-repeat;
  }

  select:focus {
    background-image:
            linear-gradient(45deg, $color-white 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, $color-white 50%),
            linear-gradient(to right, $color-grey-light-2, $color-grey-light-2);
    background-position:
            calc(100% - 1.2rem) 1em,
            calc(100% - 2.2rem) 1em,
            100% 0;
    background-size:
            1rem 1rem,
            1rem 1rem,
            2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: $color-grey;
    outline: 0;
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $color-black;
  }

}
