@import "./abstracts/variables";
@import "./abstracts/mixins";

.sidebar {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  padding: 1rem 1.6rem 1rem 1rem;
  background-color: $color-brown-light-2;
  z-index: 998;
  overflow-x: hidden;
  @include transition-sidebar-with;

  button {
    width: 2.6rem;
    height: 2.6rem;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-bottom: 3.2rem;

    &.centered {
      align-self: center;
    }

    svg {
      stroke: $color-red;
      width: 100%;
      height: 100%;
    }
  }

  &Inner {
    display: flex;
    flex-direction: column;
    position: fixed;
    /* parent width (5.5rem) - padding-left/-right (1rem/1.6rem) = 2.9rem */
    width: 2.9rem;
  }
}