@import "./abstracts/mixins";
@import "./abstracts/variables";

/** Input group */
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 40rem;
  padding: 1.8rem 1.8rem 4.4rem;
  border: 1px solid $color-brown;
  border-radius: 1rem;
  overflow: hidden;
}

.inputGroup div {
  position: relative;
}

.inputGroup div span {
  position: absolute;
  right: 1.8rem;
  color: $color-red;
}

.inputGroup h3 {
  text-transform: uppercase;
}

.inputGroup legend {
  color: $color-grey;
}

.inputGroup input {
  width: 100%;
  border: 1px solid $color-grey-light-2;
  border-radius: 0.25rem;
  padding: 0.5rem;

  &:focus {
    border-color: $color-blue-dark-3;
    background-color: $color-white;
  }

  &::placeholder {
    color: $color-brown;
  }
}

.stepHeading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.8rem;
  margin: -1.8rem -1.8rem 0;
  border-bottom: 1px solid $color-brown;
  background-color: $color-brown-light-2;

  .stepInfoSmall {
    display: none;
  }

  .stepCircle {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $color-brown-dark;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }

  .stepNumber {
    display: flex;
    font-size: 2.4rem;
    font-weight: 700;
  }

  .stepCombo {
    display: flex;
    column-gap: 2rem;
  }

  .stepDescription {
    line-height: 1.4;

    &Title {
      font-size: 2.4rem;
      font-weight: 600;
    }

    &Info {
      font-size: 1.4rem;
      color: $color-grey;
    }
  }

  .stepInfo {
    strong {
      font-size: 2.4rem;
    }
  }
}

.inputGroup select {
  @include form-field;
  padding-right: 3.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: $color-white;

  &::placeholder {
    color: $color-brown;
  }

  &.invalid {
    border: 2px solid $color-red;
  }

  &:focus-visible {
    outline: none;
  }
}

.stepHint {
  @include mandatory-hint;
  margin-top: 3rem;
  margin-bottom: -2rem;
}

/**********************************/
/* BELOW 704px (Tablet small) */
/**********************************/
@include respond(smaller-tab) {
  .inputGroup {
    min-width: initial;
  }
}

/**********************************/
/* BELOW 544px (Phone) */
/**********************************/
@include respond(phone) {
  .stepCombo {
    align-items: center;

    .stepStatus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 0.5rem;

      .stepInfoSmall {
        display: block;
      }

      .stepCircle {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  .stepInfo {
    display: none;
  }
}

/**********************************/
/* BELOW 400px (Phone mini) */
/**********************************/
@include respond(phone-mini) {
  .inputGroup {
    padding: 1.8rem 1rem;
  }
}
