@import "./abstracts/mixins";
@import "./abstracts/variables";

/** Input group */
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 40rem;
  min-width: 90rem;
  padding: 1.8rem 1.8rem 4.4rem;
  border: 1px solid $color-brown;
  border-radius: 1rem;
  overflow: hidden;
}

.inputGroup div {
  position: relative;
}

.inputGroup div span {
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  color: $color-red;
}

.inputGroup h3 {
  text-transform: uppercase;
}

.inputGroup legend {
  color: $color-grey;
}

.inputGroup input {
  width: 100%;
  border: 1px solid $color-grey-light-2;
  border-radius: 0.25rem;
  padding: 0.5rem;

  &:focus {
    border-color: $color-blue-dark-3;
    background-color: $color-white;
  }

  &::placeholder {
    color: $color-grey-light;
  }
}

.stepHeading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.8rem;
  margin: -1.8rem -1.8rem 0;
  border-bottom: 1px solid $color-brown;
  background-color: $color-brown-light-2;

  .stepCircle {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $color-brown-dark;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    //transform: translateY(-7%);
  }

  .stepNumber {
    display: flex;
    font-size: 2.4rem;
    font-weight: 700;
  }

  .stepCombo {
    display: flex;
    column-gap: 2rem;
  }

  .stepDescription {
    line-height: 1.4;

    &Title {
      font-size: 2.4rem;
      font-weight: 600;
    }

    &Info {
      font-size: 1.4rem;
      color: $color-grey;
    }
  }

  .stepInfo {
    strong {
      font-size: 2.4rem;
    }
  }
}

.inputGroup select {
  min-width: 50rem;
  @include form-field;

  background-color: $color-white;

  &::placeholder {
    color: #aaa;
  }

  &.invalid {
    border: 2px solid $color-red;
  }

  &:focus-visible {
    outline: none;
  }
}